<h1>サークル詳細</h1>
<br>
<table class="table">
  <thead>
    <tr align="center" valign="middle">
      <th>サークル画像</th>
      <th>サークル名</th>
      <th>活動内容</th>
      <th>参加者数</th>
      <th colspan="2"></th>
    </tr>
 </thead>
 <tbody>
    <tr align="center" valign="middle">
      <td><img height="60" src="<%=h @club.image_url %>"/></td>
      <td><%= @club.name %></td>
      <td><%= @club.description %></td>
      <td><%= @club.users.count %></td>
      <% if @club.user_clubs.where(user: current_user).present? %>
        <td><%= link_to '編集', edit_club_path(@club), class: 'btn btn-success btn-md' %></td>
      <% else %>
        <td><%= link_to '一覧', clubs_path, class: 'btn btn-success btn-md' %></td>
        <td><%= link_to '参加する', join_to_club_club_path(@club), method: :post, class: 'btn btn-success btn-md' %></td>
      <% end %>
    </tr>
  </tbody>
</table>
<br>
<table class="table">
  <thead style="background-color:#ccc;">
    <tr align="center" valign="middle">
      <th>参加者一覧</th>
    </tr>
  </thead>
  <tbody>
    <% @club.users.each do |user| %>
      <tr align="center" valign="middle">
        <td><%= user.name %></td>
    <% end %>
  </tbody>
</table>