<div class="m-5 border-bottom">
  <div class="search-form">
    <%= search_form_for @q do |f| %>
      <div class="row no-padding no-margins">
        <div class="col-md-2">
          <div class="field m-2">
            <%= f.label :title %><br>
            <%= f.search_field :title_cont %>
          </div>
        </div>
        <div class="col-md-2">
          <div class="field m-2">
            <%= f.label :place %><br>
            <%= f.search_field :place_cont %>
          </div>
        </div>
        <div class="col-md-3">
          <div class="field m-2">
            <%= f.label :start_date, "実施日" %><br>
            <%= f.date_field :start_date_gteq %>〜
            <%= f.date_field :start_date_lteq_end_of_day %>
          </div>
        </div>
      </div>
      <%= f.submit "検索", class: "btn btn-primary btn-sm m-2" %>
    <% end %>
  </div>
</div>

