<% provide(:title, "profile") %>
<div class="row">
  <div class="col-md-4 col-md-offset-4">
  </div>
  <div class="col-md-4 col-md-offset-4">
    <h1>your profile</h1>
    <div class="profile_box" style="text-align: center;margin-bottom: 10px;">
      <div class="profile_center">
        <%= image_tag @mentor.image_url, width: '40%', height: '40%'%>
      </div>
    </div>
    <div class="profile_box">
      <ul>
        <li class='form-control'>名前： <%= @mentor.name %></li>
        <li class='form-control'>自己紹介文： <%= @mentor.self_introduction %></li>
        <li class='form-control'>ニックネーム： <%= @mentor.nickname %></li>
        <li class='form-control'>電話番号： <%= @mentor.phone %></li>
        <li class='form-control'>誕生日： <%= @mentor.birthday %></li>
        <li class='form-control'>性別： <%= I18n.t("enums.user.gender.#{@mentor.gender}") %></li>
        <li class='form-control'>都道府県： <%= @mentor.pref.name %></li>
        <li class='form-control'>職業： <%= @mentor.job.name %></li>
        <li class='form-control'>所属： <%= @mentor.work_place %></li>
      </ul>
    </div>
    <%= render "shared/edit_button", resource: @mentor, resource_name: 'mentor' %>
  </div>
  <div class="col-md-4 col-md-offset-4">
  </div>

</div>