<% if @reservations.present? %>
  <h1>メンタリング予約一覧</h1>
  <table class="table">
    <thead style="background-color:#ccc;">
      <tr align="center" valign="middle">
        <th>ユーザー名</th>
        <th>メンタリング予約時刻</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @reservations.each do |reservation| %>
        <tr align="center" valign="middle">
          <td><%= reservation.user.name %></td>
          <td><%= reservation.start_date.strftime('%Y年%m月%d日 %H:%M') %> 〜 <%= reservation.end_date.strftime('%Y年%m月%d日 %H:%M') %>(<%=reservation.to_ja_wday%>)</td>
          <td><%= link_to '予約受諾', accept_reservation_reservation_path(reservation), method: :put, data: { confirm: 'この日程で受諾してもよろしいですか？' }, class: 'btn btn-success btn-sm' %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <h1>現在、新規のメンタリング予約はありません</h1>
<% end %>
