<div class="row">
  <%= form_with(model: @reservation, url: reservation_path, remote: true) do |f| %>
    <%= render 'shared/error_messages', resource: f.object %>
    <div class="form-group">
      <%= f.label :title, "タイトル"%>
      <%= f.text_field :title, class:'form-control mb-3', required: true %>
      <%# form_with でrequired: trueを追加すると空白登録を回避してくれます %>
    </div>
      <br>
    <div class="form-group">
      <%= f.label :place, "開催場所"%>
      <%= f.text_field :place, class:'form-control mb-3', required: true %>
      <%# form_with でrequired: trueを追加すると空白登録を回避してくれます %>
    </div>
      <br>
    <div class="form-group">
      <%= f.label :start_date, {class:'control-label'}%>
      <%= f.datetime_select :start_date, { default: Date.today + 0.hours + 00.minutes, minute_step: 10, use_month_numbers: true }, class: 'form-control bootstrap-date mb-3' %>
    </div>
      <br>
    <div class="form-group">
      <%= f.label :end_date, {class:'control-label'}%>
      <%= f.datetime_select :end_date, { default: Date.today + 0.hours + 00.minutes, minute_step: 10, use_month_numbers: true }, class: 'form-control bootstrap-date mb-3' %>
    </div>
      <br>
    <div class="form-group">
      <%= f.label :deadline_date, {class:'control-label'}%>
      <%= f.datetime_select :deadline_date, { default: Date.today + 0.hours + 00.minutes, minute_step: 10, use_month_numbers: true }, class: 'form-control bootstrap-date mb-3' %>
    </div>
    <%= f.hidden_field :id, value: @reservation.id%>
      <%# 自動入力をするためにはdatetime_selectにしておく必要があります %>

    <%= f.submit "更新", class: "btn btn-primary js-event-create-btn" %>
  <% end %>
</div>