<!DOCTYPE html>
<html>
  <head>
    <title>SinkaSchool</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">
    <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
  </head>

  <body class="hold-transition sidebar-mini">
    <div class="wrapper">
      <nav class="navbar navbar-expand-sm navbar-dark sticky-top bg-dark">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav4" aria-controls="navbarNav4" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand" href="/" style="padding: 0 0 0 15px;font-size: 35px">Sinka School</a>
      <% if user_signed_in? %>
        <%= render "layouts/user_header" %>
      <% elsif mentor_signed_in? %>
        <%= render "layouts/mentor_header" %>
      <% elsif admin_signed_in? %>
        <%= render "layouts/admin_header" %>
      <% else %>
        <%= render "layouts/default_header" %>
      <% end %>
      </nav>

      <div class="content-wrapper">
        <% if notice || alert %>
          <p id="notice"><%= notice %></p>
          <p id="alert"><%= alert %></p>
        <% end %>
        <%= yield %>
      </div>

      <footer class="main-footer">
        <!-- To the right -->
        <div class="float-right d-none d-sm-inline">
          Anything you want
        </div>
        <!-- Default to the left -->
        <strong>Copyright &copy; 2020 All rights reserved.
      </footer>
    </div>
  </body>
</html>
